.gridContainer {
    background-color:  #003145;
    width: 100vw;
    min-height: 100vh;

}

.grid {
    display: grid;
    /* align-content: space-around; */
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* #landing {

    display: flex;
    justify-content: center;
    margin-top: -150px;
} */


@media only screen and (max-width: 1154px) {
        .grid { 
            grid-template-columns: repeat(3, minmax(200px, 1fr));
            grid-gap: 25px;
            }
    }
    @media only screen and (max-width: 861px) {
        .grid { 
            grid-template-columns: repeat(2, minmax(200px, 1fr));
            grid-gap: 25px;
            }
    }
    @media only screen and (max-width: 566px) {
        .grid { 
            grid-template-columns: repeat(1, minmax(200px, 1fr));
            grid-gap: 25px;

            margin-left: auto;
            }
    }
   
    .searchdiv{
        background-color: #002A3B;
        min-height: 38vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .searchdiv>h2{
        color: white;
    }

    .search{
        position: relative;
        box-shadow: 0 0 40px rgba(51, 51, 51, .1);
        min-width: 80vw;
        display: flex;
        justify-content: space-between;
        
          
        }
 
        .search input{
 
         height: 40px;
         text-indent: 25px;
         border: 2px solid #d6d4d4;
 
 
        }
 
 
        .search input:focus{
 
         box-shadow: none;
         border: 2px solid blue;
 
 
        }
 
        .search .fa-search{
 
         position: absolute;
         top: 14px;
         left: 16px;
 
        }
       
        .filtersDiv{
            display: flex;
            align-items: center;
            justify-content: space-around;

        }

        #filterbutton{
            min-height: 2.2em;
            min-width: 7em;
            border: none;
            border-radius: 15px;
            background-color: #798F9A;
            font-weight: bold;
            color: white;
            margin-right: 4px;
        }
/*  
        .search button{
 
         position: absolute;
         top: 5px;
         right: 5px;
         height: 30px;
         width: 110px;
         background: blue;
 
        }
        .btnsearch{
            margin-top: 1px;
        } */